# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ESGI.DesignPattern.Projet.iml
# Editor-based HTTP Client requests
/httpRequests/
